.main{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    overflow-x: scroll;
}
.box-1{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
}
.box-1 .box{
    width: 30px;
    height: 30px;
    background-color: aqua;
}
.box-1:nth-child(2){
    justify-content: center;

}
.box-1:nth-child(3){
    justify-content: end;

}
.box-1:nth-child(4){
    flex-direction: column;
    justify-content: center;

}
.box-1:nth-child(5){
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-1:nth-child(6){
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.box-1:nth-child(7){
    flex-direction: column;
    justify-content: end;
}
.box-1:nth-child(8){
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.box-1:nth-child(9){
    flex-direction: column;
    justify-content: end;
    align-items: end;
}